
#logo{

}
body {
    background-color: #cbd2dd;
}
#total-orders {
    background-color:#D95B94;
}
#orders-delivered {
    background-color:#34C140;
}
#orders-pending {
    background-color:#D9CC5B;
}

      